input {
    outline: none;
    width: 100%;
}

.send-button {
    align-items: center;
    background-color: var(--verde);
    border-radius: 5px;
    color: white;
    font-family: var(--secondary-font);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 48px;
    width: 150px;
    margin-left: auto;
}

.notification {
    align-items: center;
    background-color: var(--verde);
    border-radius: 5px;
    box-shadow: 8px 16px 32px 0px var(--shadow);
    color: var(--blanco);
    display: none;
    font-family: var(--secondary-font);
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 24px;
    top: 24px;
    width: 300px;
}

.modal-container {
    align-items: center;
    background-color: rgba(000, 000, 000, 0.2);
    display: none;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

.send-button,
.modal-button {
    align-items: center;
    background-color: var(--verde);
    border-radius: 5px;
    color: var(--gris-oscuro);
    font-family: var(--secondary-font);
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 48px;
    width: 150px;
    margin-left: auto;
    font-size: 16px;
    cursor: pointer;
}

.send-button:focus,
.modal-button:focus {
    border: 5px solid var(--gris-oscuro);
    outline: 3px solid var(--verde)
}

#modal-header {
    outline: 3px solid var(--verde);
}

.modal {
    align-items: center;
    background-color: var(--gris-oscuro);
    border-radius: 5px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    position: fixed;
    top: 5%;
    width: 700px;
    padding: 56px
}

.form-label {
    color: var(--verde);
    text-align: justify;
    color: #000;
}

.message-input {
    color: var(--verde);
    text-align: justify;
    color: #000;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    table,
    p,
    img {
        padding-right: 1em;
        width: 100%;
    }
}

@media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}